aws_region        = "us-east-1"
environment       = "qas"
artifact_bucket   = "mi-bucket-artifacts-qas"
temp_bucket       = "mi-bucket-temp-qas"
glue_role_arn     = "arn:aws:iam::123456789012:role/mi-role-glue-qas"
lambda_role_arn   = "arn:aws:iam::123456789012:role/mi-role-lambda-qas"
github_repository = "mi-usuario/mi-repositorio"
